<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>

    <style>
        body{
            display: flex;
            justify-content: center;
            background-color:#f3f6f3;
        }
        .container{
            background-image: url("/images/mountain1.jpeg");
            height: 600px;
            width:1000px;
            background-repeat: no-repeat;
            background-size: cover;
            margin-top: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .form-container{
            display: flex;
            height: 100px;
            /* width:300px; */
            /* align-content: space-between; */
            justify-content: center;
            /* align-items: center; */
            /* gap: 300px; */
        }
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:5px;
            font-size: 20px;
        }
        input{
            padding: 10px;
            font-size: 15px;
            border: 1px solid #ccc;
            border-radius: 6px;
            width: 300px;
        }
        button{
            /* width: 100px;  
            height: 25px;
            align-self: center;
            border-radius: 3px;
            border: 1px solid black; */
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
        button:hover{
            background-color: #94c000;
        }
        .link-button {
            display: flex;
            gap: 15px;
            margin-top: 50px;
            background-color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="/auth/login" method="post">

                <label for="username">username:</label>
                <input type="text" name="username" id="username">
                <label for="password">password:</label>
                <input type="password" name="password" id="password">
                <button>Login</button>
            </form>  
        </div>
        <!-- <div class="link-button"> -->
            <button class= "link-button" onclick="window.location.href='/auth/signup'">sign up</button>
        </div>
    </div>

</body>
</html>