<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #f3f6f3;
            margin: 0;
            padding: 0;
            display: flex;
            height: 600px;
            justify-content: center;
            align-items: center;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .form-container {
            background-color: white;
            padding: 30px 40px;
            border-radius: 10px;
            width: 500px;
        }
        h1 {
            margin-bottom: 20px;
            text-align: center;
        }
        
        input {
            padding: 10px;
            font-size: 15px;
            border-radius: 6px;
            width: 100%;
        }   
        .buttons {
            display: flex; 
            gap: 20px;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border-radius: 6px;
        }
        .add-btn {
            background-color: #4CAF50;
            color: white;
        }
        .showIcons {
            background-color: #ddd;
        }
        .icons-container{
            display:flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            opacity:0;
            pointer-events:none ;
            top: 0;
            left:0;
            height:100vh;
            width:100vw;
        }
        .model{
            border-radius: 5px;
            border: 2px solid black;
            padding: 20px;
            width:600px;
            text-align: center;
            background-color:white;
            font-size: 20px;
        }
        .icons-container.show {
            pointer-events:auto;
            opacity: 1;
        }
        .chosen{
            border: 2px solid black;
            border-radius: 100%;
        }
    </style>
</head>
<body>
    
    <div class="form-container">
        <h1>add a habit</h1>
        <form action="/habits/add-habit" method="post">
        <label for="name">habit:</label>
        <input id="name" name="name" type="text">

        <label for="reason">why do you want to do this?</label>
        <input id="reason" name="reason" type="text">

        <input type="hidden" name="icon" id="iconInput">
            <div class="buttons">
            <button id ="showIcons" type="button">icon</button>
            <button class="add-btn">add habit</button> 
            </div>
            
    </form>
    </div>

    <div class="icons-container" id="icons-container">
    <div class="model">
        <h1>choose an icon</h1>
        <div id="icons-area"></div>
        
        <button id="close">confirm</button>
        </div>
    </div>

    <script>
        // const iconsContainer = document.querySelector('.icons-container')
        const showIcons = document.querySelector('#showIcons')
        const iconsClose = document.querySelector('#close')
        const container = document.querySelector('#icons-container')
                const iconsArea = document.querySelector('#icons-area')
        const icons = ["1.png", "2.png", "3.png", "4.png", "5.png", "7.png", "8.png", "9.png", "10.png", "11.png", "12.png", "13.png", "14.png", "15.png"]
        let chosenIcon

    icons.forEach ((oneIcon) => {
        const img = document.createElement('img')
        img.src = `/images/${oneIcon}`
        img.width = 60
        img.height = 60
        img.style.margin = "10px"
        img.addEventListener('click',()=> {
            document.querySelectorAll('#icons-area img').forEach(icon => {
                icon.classList.remove('chosen');
            })
            img.classList.add("chosen")
            chosenIcon = oneIcon

            document.getElementById("iconInput").value = chosenIcon;
        })
        iconsArea.appendChild(img)
    })

    showIcons.addEventListener('click', () => {
        container.classList.add('show') 
    })
    iconsClose.addEventListener('click', () => {
        container.classList.remove('show') 
    })
    </script>
</body>
</html>