<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add a habit</h1>
    <form action="/habits/new" method="post">
        <label for="name">habit:</label>
        <input id="name" name="name" type="name">

        <label for="reason">why do you want to do this?</label>
        <input id="reason" name="reason" type="reason">
        <button>add habit</button>
    </form>
</body>
</html>