<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit habit</h1>
    <form action="/habits/all-habits/<%=foundHabit._id%>/edit?_method=PUT" method="post">
        <label for="name">habit:</label>
        <input id="name" name="name" type="text" value="<%=foundHabit.name%>">

        <label for="reason">why do you want to do this?</label>
        <input id="reason" name="reason" type="text" value="<%=foundHabit.reason%>">
        <button>edit habit</button>
    </form>
</body>
</html>