<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>habit details</h1>
    <p>name: <%=foundHabit.name %></p>
    <p>why do you wanna do this? <%=foundHabit.reason%></p>

    <form action="/habits/all-habits/<%=foundHabit._id%>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
    <a href="/habits/all-habits/<%=foundHabit._id%>/edit">edit</a>
</body>
</html>