<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
    <div id="dates">
        <div class="today">
            <p><%= weekDay %> </p>
            <p><%= day %></p>
            <p><%=month%></p>
        </div>

        
    </div>
    <% allHabits.forEach( (oneHabit) => {%>
        <label class="checkbox-control">
        <input type="checkbox" name="checkbox" />
        <span class="custom-checkmark">
        <img src="/images/CAT_emoji_icon_png_grande.webp" alt="cat" />
        </span>
        <%= oneHabit.name %>
        </label>
        
        <br />
    <% })%>
</div>
</body>
</html>
